












@charset "UTF-8";

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('../fonts/modernpics-webfont.eot');
    src: url('../fonts/modernpics-webfont.eot#iefix') format('embedded-opentype'),
        url('../fonts/modernpics-webfont.woff') format('woff'),
        url('../fonts/modernpics-webfont.ttf') format('truetype'),
        url('../fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'WebHostingHub-Essentials';
	src: url('../fonts/281975_0_0.eot');
	src: url('../fonts/281975_0_0.eot#iefix') format('embedded-opentype'),
		url('../fonts/281975_0_0.woff') format('woff'),
		url('../fonts/281975_0_0.ttf') format('truetype'),
		url('../fonts/281975_0_0.svg#wf') format('svg');
}

* { outline: none }
img { -ms-interpolation-mode: bicubic; }
body {
    background-color: rgba(35, 0, 0, 0.15);
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: repeat;
    background-size: contain;
    margin: 0px;
    padding: 0px;
}
body, select { 
    font-family: 'source sans pro', arial, sans-serif;
    font-size: 14px; 
    color: black; 
}
#header {
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-external{
	display: table;
	width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 6px 0px;
}

.header-intermediate {
	display: table;
	width: 100%;
}

.header-internal table form {
	display: table;
	padding: 6px 0;
}

#header-inner{
	width: 910px; 
    margin: 0px auto;
}
.header-logo-full{
	margin: auto;
	display: table;
}
#footer {
    background-color: rgba(62, 49, 24, 0.64);
}
#canvas {
    width: 985px;
    margin: auto;
    margin-bottom: 25px ;
    margin-top: 21px ;
    /* box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2); */
}
#canvas-inner{
	padding: 0px 35px;
	background-color: rgba(50, 37, 15, 0.74);
}
#canvas-inner-header {
	display: table;
	width: 100%;
}

#canvas-inner-body {
    padding-bottom: 20px;
    width: 910px;
    max-width: 100%;
    display: table;
    float: left;
   
}
#canvas-inner-footer {
    padding: 35px 35px;
    width: 908px;
    margin: auto;
}

.canvas-body {
	display: table;
	
}

.canvas-border
{
	border: 1px #f2f2f2 none;
	box-shadow: 0px 0px 10px rgba(0,0,0,0);
	border-radius: 3px;
	overflow: hidden;
}
	
.search-bar {
    float: left; 
    border-radius: 3px; 
    padding: 0px 6px 1px 6px;
    background-color: white; /* para navegadores que não suportam rgba */
    background-color: rgba(255, 255, 255, 0.26);
    border-color: #e7eaec; /* para navegadores que não suportam rgba */
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    color: #050505;
}
.search-bar a, .iluria-layout-search-bar a:hover {
    text-decoration: none;
    font-family: ModernPictogramsNormal; 
    font-size: 22px;
    
}
.search-bar-button{
    color: rgba(255, 255, 255, 0.63);
    background-color: rgba(0, 0, 0, 0);
}
.search-bar input {
    background-color: rgba(0, 0, 0, 0); 
    border: none; 
    width: 150px;
    color: rgba(255, 255, 255, 0.63);
}
.hello-client-message {
    float: right;
    margin-right: 20px;
    font-family: Abhaya Libre;
    font-size: 16px;
    font-style: ;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 241, 227, 0.7);
}
.my-account-button {
    
    float: right;
}

.iluria-layout-menu{
    font-family: Abhaya Libre;
    font-size: 16px;
    font-style: ;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 241, 227, 0.7);
    background-color: rgba(232, 232, 217, 0);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.iluria-layout-menu a{
    text-decoration: none;
    color: rgba(255, 241, 227, 0.7);
}
.iluria-layout-menu a:visited{
    text-decoration: none;
    color: rgba(255, 241, 227, 0.7);
}

.iluria-layout-menu:hover a{
    text-decoration: underline;
}

.iluria-layout-newsletter{
/*    background-color: rgba(0,0,0,0); */
/*    border-color: rgba(0, 0, 0, 0.23); */
/*    border-width: 0px; */
/*    border-style: solid; */
}

.footer-title{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Amiri;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
}

#newsletter-email{
    color: #595959;
    background-color: #ffffff;
    border:none;
}

.newsletter-button{
    color: #000000;
    background-color: #e0e0e0;
    border:none;
}


.iluria-layout-social-media{
    float: left;
    width: 330px;;
}

.pages-container{
    background-color: rgba(232, 232, 217, 0);
    border-radius: 1px;
}
.pages-item{
    font-family: Abhaya Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 0);
    margin-left: 20px;
}

.pages-item a{
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.pages-item a:hover{
    text-decoration: underline;
}

.copyright, .iluria-copyright, .iluria-copyright a, .iluria-copyright a:visited, .iluria-copyright a:hover{
    font-family: Abhaya Libre;
    font-size: 12px ;
    text-decoration: none ;
    color: rgba(0, 0, 0, 0) ;
}

.copyright {
    margin-top: 10px;
}

.my-account-button span {
    font-family: ModernPictogramsNormal;
    font-size: 16px;
}
.my-account-button div {
    padding: 0px 10px;
}
.my-account-button a img {
    display: block;
}
.cart-button {
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.67);
    padding: 5px 10px 5px 10px;
}

.cart-button a, .cart-button a:hover {
    color: rgba(0, 0, 0, 0.67);
    text-decoration: none;
    font-family: Abhaya Libre;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    
}

.cart-button span {
    font-family: ModernPictogramsNormal;
    font-size: 17px;
}
.cart-button a img {
    display: block;
}
.cart-button:hover a {
    text-decoration: underline;
}
.logout-button {
	
    float: right;
}
.logout-button a:hover {
    text-decoration: underline;
}
.logout-button img {
    display: block;
}
#shop-logo { 
    max-width: 100%;
    margin-top: 13px;
    margin-bottom: 19px;
}
#shop-logo a {
    display: table;
    text-decoration: none;
    margin: 0 auto;
}
#shop-logo img { 
    max-width: 910px; 
    display: block; 
}
#shop-logo span {
    color: #D41646; 
    font-size: 46px;
    font-family: rokkitt, sans-serif;
}
#shop-logo div {
    margin: 10px 0px 30px 0px;
}
.search-header { 
    margin-bottom: 20px; 
}
.search-not-found-header { 
    margin-bottom: 20px; 
    color: #D41646;
    font-weight: 600;
    font-size: 23px;
    font-family: rokkitt, arial, sans-serif;
}
div#product-list-container div.product-item-container div.product-item-container-inner a {
    text-decoration: none;
}
#product-list-container {
    display: table;
    width: 100%;
}
.product-item-container { 
    float: left;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0)  0px 0px 8px 0px ;
    border: 1px none rgba(0, 0, 0, 0);
    border-radius: 4px;
    overflow: hidden;
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.product-item-container:hover { 
    background-color: rgba(0, 0, 0, 0);
    border: 1px none rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0)  0px 0px 8px 0px ;
}
.product-item-container-inner {
    overflow: hidden;
    margin: 0px;
}
.iluria-layout-search-product-title {
    margin-top: 10px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    
    text-align: center;
}
.product-item-container:hover .iluria-layout-search-product-title a{
    color: rgb(7, 7, 7);
}

.iluria-layout-search-product-title a {
    text-decoration: none;
    color: rgb(181, 181, 181);
}
.product-thumb-price-container {
    text-align: center;
}
.product-thumb-container {
    cursor: pointer;
    cursor: hand;
    border: 1px none rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    overflow: hidden;
}

.product-item-container:hover .product-thumb-container{
    border: 1px none rgba(0, 0, 0, 0);
}

.product-item-container:hover .product-thumb-image-container{
    opacity: 0.82;
}

.product-thumb-caption-container {
    overflow: hidden;
    padding-bottom: 7px;
}
.product-thumb-price {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: normal;
    text-decoration: ;
    color: rgb(251, 230, 203);
    text-align: center;
}
.product-item-container:hover .product-thumb-price{
    color: rgb(110, 42, 15);
}
.product-thumb-original-price {
    margin-top: 10px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: normal;
    text-decoration: line-through;
    color: rgb(135, 135, 135);;
    text-align: center;
}
.product-item-container:hover  .product-thumb-original-price{
    color: #050505;
}
.product-thumb-price-installment {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: normal;
    text-decoration: ;
    color: rgb(181, 181, 181);
    text-align: center;
}
.product-item-container:hover  .product-thumb-price-installment{
    color: rgb(0, 0, 0);
}
.product-thumb-soldout-image-container,
.product-thumb-sale-image-container,
.product-thumb-free-shipping-image-container,
.product-thumb-new-product-image-container {
    position: absolute; 
    top: 0px;
}

.product-thumb-sale-image-container {
	left: 0px;
}

.product-thumb-free-shipping-image-container,
.product-thumb-new-product-image-container {
	right: 0px;
}

.product-thumb-zoom-icon {
    position: absolute;
    bottom: 5px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 100;
    width: 120px; 
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 2px; 
    color: #e8e8dd; 
    line-height: 30px;
    opacity: 0.8;
    display: none;
    text-align: left;
}
.product-thumb-zoom-icon img {
    display: initial; 
    float: left; 
    margin: 4px 2px 0px 30px;
}

.product-thumb-container, .product-thumb-image-container { position: relative; }

.product-thumb-image-container img { display: block; }

.iluria-product-thumb img { display: none; }


.featured-products-title,
.iluria-testimonials-title,
.sub-header {
    color: rgb(0, 0, 0);
    font-family: Abhaya Libre;
    font-size: 24px;
    font-weight: bold;
    font-style: ;
    text-decoration: ;
    background-color: rgba(0, 0, 0, 0);
    text-align:left;
    border-radius: 0px;
}

.featured-products-title,
.iluria-testimonials-title {
    margin-bottom: 20px;
}

.featured-products-title{
	width: 100%;
}

.pagination {
    margin-top: 20px; 
    clear: both;
    display: table;
    width: 100%;
}

.iluria-pagination {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 35px;
}
.iluria-pagination a {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.iluria-pagination a:hover {
    color: #666666;
    background-color: #ffffff;
}
.iluria-pagination a[rel="current-page"] {
    color: #666666;
    background-color: #ffffff;
}
.iluria-pagination-previous {
    text-align: left;
    width: 180px;
}
.iluria-pagination-next {
    text-align: right;
    width: 180px;
}
.iluria-pagination-current-page {
    background-color: #FF0000;
}
.hand-cursor {
    cursor: pointer;
    cursor: hand;
}
.category-banner {
    width: 100%;
    margin: 0px auto 20px auto;
    text-align: center;
}
.category-banner img {
    max-width: 100%;
    width: 100%; 
}
.fancybox-buy-button, .fancybox-close-button {
    cursor: hand;
    cursor: pointer;
    float: left;
    padding: 7px 10px;
    width: 70px;
    text-align: center;
    font-size: 14px !important;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 2px;
    color: white;
}
.fancybox-buy-button {
    background-color: rgb(46, 102, 100);
    background-color: rgba(46, 102, 100, 0.91);
}
.fancybox-close-button {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    margin-left: 20px;
}
.fancybox-custom-buttons-container {
    width: 100%;
    position: absolute;
    bottom: 30px;
    z-index: 30000;
}
.fancybox-custom-buttons-container-wrapper {
    width: 210px;
    margin: auto;
}
.fancybox-overlay {
    z-index: 20000;
}
.fancybox-opened {
    z-index: 21000 !important;
}
#fancybox-loading {
    z-index: 30000;
}
#infscr-loading {
    background: none repeat scroll 0 0 #000000;
    border-radius: 10px 10px 10px 10px;
    bottom: 40px;
    color: #FFFFFF;
    left: 45%;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 100001;
}
.shop-window {
    overflow: hidden; 
    margin: 0px auto 20px;
}
.shop-window, .shop-window img {
    max-width: 100%; 
}
.shop-window img { display: block; }
.subcategory-menu:first-child {
    border-top: none;
}

#categories-menu-title {
    color: rgb(212, 22, 70);
    text-decoration: none;
    font-size: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
}

#categories-menu-container {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);        
    background-color: rgba(255, 255, 255, 0.23);
    border-color: rgb(221, 221, 221);
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-radius: 4px;
}

/** Menu de Categorias **/
.vertical-menu {
	width: 200px;
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: left;
	display: block;
	margin-bottom: 10px;
}

.vertical-menu ul#jMenu {
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	text-align: left;
	padding: 0;
	margin: 0;
}

.vertical-menu  {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.vertical-menu .subcategory-menu-container {
	padding: 0;
}

.vertical-menu .category-menu span:hover {
	cursor: pointer;
}

.vertical-menu #jMenu .category-menu {
	padding: 5px 13px;	
}

.vertical-menu #jMenu .category-menu a.category-title {
	float: left;
	padding: 0;
}

.vertical-menu #jMenu li span {
	display: block;
	white-space: normal !important;
}

.vertical-menu #jMenu li span:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.vertical-menu #jMenu li span:hover a{
    color: rgb(255, 255, 255);
}

.vertical-menu li {
	list-style-type: none;
}

.vertical-menu #jMenu li ul li a {
	padding: 5px 0 5px 25px;
	display: block;
}

.horizontal-menu {
	width: 910px;
	margin-bottom: 20px;
}

.horizontal-menu #jMenu {
    display: table;
    float: none;
    margin: auto;
    width: auto; 
}

.horizontal-menu #jMenu li {
	text-align: center;
	height: auto;
}

.horizontal-menu #jMenu li ul li {
	text-align: left;
	height: auto;
	background-color: rgb(255, 255, 255);
    border-color: rgb(221, 221, 221);
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-radius: 0px;
    text-align: left;
}

.horizontal-menu .categories-menu {
	display: table;
}

.horizontal-menu #jMenu li:hover {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.horizontal-menu #jMenu li:hover a{
    color: rgb(255, 255, 255);
}

.horizontal-menu #jMenu li:hover ul li a {
    color: rgb(69, 69, 69);
}

.horizontal-menu #jMenu li a {    
    padding: 10px;
}    

.horizontal-menu #jMenu li ul li a {
    padding: 7px;
    margin: 0;
    display: block;
}

.horizontal-menu #jMenu li,
.vertical-menu #jMenu li span {

    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-style: dotted;
    border-radius: 0px;
    
}

#jMenu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    padding: 7px 10px;
}

/** Menu de Subcategorias **/
#jMenu li:hover ul li a {
    color: rgb(69, 69, 69);
}
#jMenu li ul {
	background-color: rgb(255, 255, 255);
    color: rgb(69, 69, 69);
    text-align: left;
    border-color: rgb(221, 221, 221);
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-radius: 0px;
}
#jMenu li ul li {
    width: auto !important;
    background-color: rgb(255, 255, 255);
    border-color: rgb(221, 221, 221);
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-radius: 0px;
    text-align: left;
}
#jMenu li:hover ul li:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(194, 66, 66);
}
#jMenu li:hover ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(194, 66, 66);
}
#jMenu li ul {
    z-index: 50000; 
}
#jMenu li ul li a {
    background-color: rgb(255, 255, 255);
    color: rgb(69, 69, 69);
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    border: none;
}
#jMenu li ul li a:hover {
    border: 0;
}

.categories-menu {
    clear: both; 
    width: 100%; 
    position: relative;
}

.category-title-arrow {
	float: right !important;
	border: 0 !important;
	background-color: rgba(0, 0, 0, 0) !important;
	cursor: pointer;
}

.category-title-arrow a{
	font-family: WebHostingHub-Essentials !important;
	font-style: normal !important;
	text-decoration: none !important;
	font-weight: normal !important;
	font-size: 10px !important;
	line-height: 18px;
	display: block;
	padding-top: 2px !important;
}

/** Detalhes do produto **/
.product-title {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 25px;
    font-weight: ;
    text-align: left;
    text-decoration: ;
    font-style: ;
}
.product-description {
    max-width: 490px;
    overflow: hidden;
    margin-top: 20px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: ;
    text-decoration: ;
    font-style: ;
}

.product-description a {
    color: $iluria.layout.product.description.link.color;
}

.product-description a:hover{
	color: $iluria.layout.product.description.link.hover.color;
}
#iluria-product-price-installment .product-price-currency {
    font-size: 14px;
}
#iluria-product-no-discount-price .product-price-text,
#iluria-product-no-discount-price .product-price-currency {
    font-size: 14px;
}
.product-details-container {
    margin-top: 20px;
}
.product-details-container .iluria-product-price-original {
    font-size: 30px;
}

.iluria-product-price {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: bold;
    text-decoration: ;
    font-style: ;
}

.iluria-product-price-installment {
    color: rgba(255, 255, 255, 0.99);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}
.iluria-product-price-original {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.99);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: ;
    font-style: ;
}
.iluria-product-price-installment, .iluria-product-price-original {
    margin-top: 4px;
}
#iluria-product-quantity-content {
    margin-top: 8px;
}
.thumb-picture {
    margin-bottom: 10px;
    margin-right: 12px;
    width: 50px;
}
.product-social-media-buttons {
    clear: both;
    margin-top: 20px;
    display: table;
}
.product-variations-container {
    margin-top: 20px;
}
.product-variations-container select {
    width: 200px !important;
    padding: 5px !important;
    display: block !important;
    margin-bottom: 10px !important;
    border-radius: 3px !important;
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: ;
    text-decoration: ;
    font-style: ;
    background-color: rgb(237, 237, 237);
    border-color: rgba(0,0,0,0);
}
.iluria-layout-size-chart, #product-shipping-link-container {
    margin-top: 20px;
}
.iluria-layout-size-chart a, #product-shipping-link-container a
.iluria-layout-size-chart a:visited, #product-shipping-link-container a:visited {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
}
.iluria-layout-size-chart a {
    text-decoration: none;
    font-weight: bold;
}
.iluria-layout-size-chart a:hover {
    text-decoration: underline;
}

#product-minimum-quantity {
    display: none;
}

.sub-header {
    margin: 20px 0px 15px 0px;
    padding-bottom: 5px;
    border-bottom: 1px rgba(0,0,0,0) solid;
}

.see-also-container {
    float: left;
    padding-right: 15px;
}
.see-also-container a { border: none; }
.see-also-container img { width: 169px; }
.see-also-container:hover { opacity: 0.7; }

.fb-comments span iframe {
	width: 910px !important;
}

.iluria-product-comment-container {
    padding-bottom: 20px;
}
.iluria-product-comment-user-name,
.iluria-testimonial-username {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
}
.iluria-product-comment-user-name a,
.iluria-testimonial-username a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#comment{
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
}
.iluria-product-comment-user-name a:hover,
.iluria-testimonial-username a:hover {
    text-decoration: underline;
}
.iluria-product-comment-user-comment,
.iluria-testimonial-content {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
    margin-top: 10px;
}
.iluria-product-comment-date,
.iluria-testimonial-date {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
}

.comment-login {
    color: rgb(255, 255, 255);
    padding-bottom: 5px;
    text-align: left;
    font-size: 14px;
    font-family: Source Sans Pro;
    font-weight: bold;
    line-height: 25px;
    padding-top: 5px;
}
.comment-login a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
.comment-login a:hover {
    font-weight: bold;
    text-decoration: underline;
}
.iluria-product-comment-save-button {
    border-radius: 5px;
    background-color: #174065;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    color: #FFF;
    margin-bottom: 10px;
    margin-top: 3px;
    width: 160px;
    text-align: center;
}
.iluria-product-comment-max-length-nofitication {
    border:3px solid #d55b5b;
    background-color: #ffcdcd;
    padding:5px;
}
.big-image-container {
    width: 450px;
}
#product-image-loading-icon {
    position: absolute;
    top: 0px;
    z-index: 10000;
    border-radius: 5px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    display: none;
}
#product-image-loading-icon img {
    border-radius: 5px;
}
#product-shipping-link {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
}
.breadcrumb {
    color: rgb(5, 5, 5);
    font-family: Abhaya Libre;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 0px;
}
.page-breadcrumb {
	margin-bottom: 15px;
	
}
.breadcrumb a {
    color: rgb(5, 5, 5);
    font-family: Abhaya Libre;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
    color: rgb(5, 5, 5);
    font-family: Abhaya Libre;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
#thumbsContainer {
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    display: table;
}
#big-image {
    max-width: 450px;
    max-height: 450px;
}
#zoom-position {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 430px;
    height: 450px;
    z-index: -1;
}
#product-shipping-link-container a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    line-height: 36px;
}
#product-shipping-link-container a:hover {
    text-decoration: underline;
}
#product-shipping-link-container {
    float: left;
}
.product-details-description-wrapper {
	width: 430px;
	margin-left: 30px;	
}
.buy-button-image {
    margin-top: 20px;
}
.buy-button-text {
    margin-top: 20px;
    width: 175px !important;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: ;
    text-decoration: ;
    color: #ffffff;
    background-color: rgb(152, 128, 101);
    
}
.buy-button-text span {
    font-family: ModernPictogramsNormal;
    font-size: 17px;
}

.comment-button {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: ;
    text-decoration: ;
    color: #ffffff;
    background-color: rgb(152, 128, 101);
    
}

.login-container input[type="text"], .login-container input[type="password"] {
    border: 1px solid #E6E6E6;
    resize: none;
    padding: 4px;
    width: 300px;
}
.login-title,
.contact-title {
    display: block;
    color: rgb(227, 203, 180);
    font-size: 25px;
    font-weight: normal;
    font-family: Source Sans Pro;
    font-style: normal;
    text-decoration: none;
    margin-top: 10px;
}

.login-text {
    display:block;
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: ;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: normal;
}

.contact-field-container div,
.login-field-container div, 
.login-field-container label {
    color: rgb(255, 255, 255);
    text-decoration: ;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: normal;
}
.login-field-container div {
    display: table;
    margin: 0px 0px 5px;
    width: 100%;
}
.login-field-container {
    margin: 0px 0px 20px;
}
.login-recover-password {
    color: rgb(255, 255, 255);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: ;
    line-height: 35px;
    cursor: hand;
    cursor: pointer;
    margin-left: 20px;
    float: left;
}
.login-recover-password:hover {
    text-decoration: underline;
}

.login-button {
	float: left;
}

.login-button,
.contatct-send-button {
    width: 200px;
    text-align: center;
    line-height: 35px;
    cursor: hand;
    cursor: pointer;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: ;
    background-color: rgb(131, 107, 79);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}

.contact-container input[type="text"], .contact-container textarea,  
.login-container input[type="text"], .login-container input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #FFFFFF;
    outline: none;
    background-color: #FFFFFF;
    resize: none;
    font-family: Source Sans Pro;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0);
}
.login-container input[type="text"]:focus, .login-container input[type="password"]:focus {
    box-shadow: 0px 0px 6px -1px rgba(255, 255, 255, 0);
    border: 1px rgb(255, 255, 255) solid;
    
}

.login-divider {
    position: relative;
    border-right: 1px dotted rgba(0, 0, 0, 0.31);
    overflow: visible;
    margin-right: 50%;
    padding-left: 37%;
    height: 350px;
}


.login-divider span {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 10px 7px;
    color: rgb(227, 203, 180);
    font-weight: normal;
    font-size: 24px;
    font-family: Source Sans Pro;
    background-color: rgba(50, 37, 15, 0.74);;
    
}

.sign-in-button-container, .sign-up-button-container {
    margin-top: 35px;
}
.facebook-sign-in-button-container {
    margin-top: 40px;
}
.button {
    width: 200px;
    text-align: center;
    line-height: 35px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    cursor: hand;
    cursor: pointer;
}

.iluria-page-content{
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.72);
}

.iluria-page-content a, .iluria-page-content a:visited, .iluria-page-content a:hover {
    color: rgb(255, 255, 255);
}
.iluria-page-content a, .iluria-page-content a:visited {
    text-decoration: none;
}
.iluria-page-content a:hover {
    text-decoration: underline;
}


.cart {
    border: 3px rgb(158, 141, 126) solid;
    background-color: rgba(0,0,0,0);
}

.iluria-cart-title {
    color: rgb(246, 246, 246);
    display: block;
    font-family: Source Sans Pro;
    font-size: 25px;
    font-style: ;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: ;
}

.cartHeader {
    background-color: rgb(143, 115, 82);
    color: rgb(255, 253, 253);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: ;
    font-weight: bold;
    text-decoration: ;
    height: 5px;
    padding-left: 10px;
    margin-left: 10px;
}

.cart-products-total-price{
    color: rgb(255, 255, 255);
}

.productTotalPrice{
    color: rgb(255, 255, 255);
}

.cart .productTitle, .cart .productPrice, .cart .productUnitPrice, .cart-container input,
.cart-container textarea, .cart-container select, .cart-container option  {
    color: rgb(255, 255, 255);
}

.cart .productTitle, .cart .productPrice, .cart .productUnitPrice, .productTotalPrice, .cart-container input,
.cart-container textarea, .cart-container select, .cart-container option {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: ;
}

.cart .productVariation, .iluria-cart-comment-description{
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cart .productVariation {
    padding-top: 7px;
}

.iluria-cart-comment-description{
    padding: 0px 0px;
    padding-top: 10px;
    line-height: 15px;        
}

.iluria-cart-mini-button, a#update-quantity-button {
    padding-top: 5px;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: bold;
    color: rgb(251, 251, 251);
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
.iluria-cart-mini-button a, a#update-quantity-button {
    color: rgb(251, 251, 251);
    text-decoration: none;
}
.iluria-cart-mini-button a:hover, a#update-quantity-button:hover {
    color: rgb(251, 251, 251);
    text-decoration: none;
}
.iluria-cart-mini-button a:visited; a#update-quantity-button:visited {
    color: rgb(251, 251, 251);
    text-decoration: none;
}

.cartFrete {
    color: rgb(255, 255, 255);
    font-family:  Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border: 3px transparent solid;
}

.cart-container input[type="text"], .cart-container textarea, .cart-container select, .cart-container option  {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: 1px  rgb(218, 218, 218) solid;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0);
}

.cart-container input[type="text"]:focus, .cart-container textarea:focus, .cart-container select:focus{
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0);
    border: 1px  rgb(255, 255, 255) solid;
}

.iluria-cart-button {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(140, 117, 95);
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}

.cart-total-price{
    color: rgb(255, 255, 255);
}

.cart-payment-image
{
    width: 160px;
    height: 50px;
}

.cart-dashed-line-border { 
    border-bottom: 1px  rgb(218, 218, 218) dashed;
}

.cart-payment-selected
{    
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 6px -1px rgb(255, 255, 255);
}

.top-image { 
	width: 910px !important;
}

.aux-banners { 
	margin: 0px 0px 20px 0px;
	display: table; 
}
.aux-banners img {
    margin-right: 11px;
    max-width: 100%;
    border: 0px;
    display: block;
    float: left;
}
.aux-banners > img:last-child,
.aux-banners > a:last-child  > img {
    margin-right: 0px;
}
.aux-banners a, .aux-banners a:hover, .aux-banners a:visited {
	text-decoration: none;
}
.iluria-social-media-link {
    float: left;
    padding-right: 4px;
}
#social-media-icons {
    display: table;
    margin-top: 15px;
    min-width: 180px;
}
#facebook-widget {
    overflow: hidden;
    height: 205px;
    margin-top: 7px;
}
#newsletter-email {
    border: medium none;
    border-radius: 3px 0 0 3px;
    font-size: 12px;
    padding: 0px 6px;
    width: 150px;
    margin-top: -5px;
    height: 27px;
}

.newsletter-button {
    border-radius: 0 3px 3px 0;
    width: 40px;
    margin-top: -10px;
    height: 27px;
    cursor: hand;
    cursor: pointer;
    font-size: 12px;
}

#toTop {
    bottom: 40px;
    right: 20px;
}
.security-stamps-container {
    margin-top: 16px;
}
.security-stamps-container img {
    border: none;
    max-height: 36px;
}
.ebit-banner {
    margin-top: 40px;
}

.iluria-testimonial-container {
	margin-bottom: 30px;	
}
.see-also-wrapper { display: table; margin-bottom: 10px; }

.contact-container {
	width: 350px;
	float: left;
}

.custom-contact-content {
	float: left;
	padding-left: 50px;
	width: 510px;
	overflow: hidden;
}

.contact-container .contact-field-container {
	margin: 5px 0px 20px 0;
}

.contact-container .contatct-send-button {
	margin: 0 auto;
}
#majorShippingType, .iluria-sort select {
	padding: 3px 5px;
}

.iluria-sort select {
	background-color: rgba(143, 98, 52, 0.09);
	border-color: rgba(0, 0, 0, 0);
	border-radius: 4px;
	color: rgb(28, 26, 26);
	font-family: Source Sans Pro;
	font-size: 14px;
}
